<div class="header bg-black shadow-dark fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <marquee direction="right"><h1 class="red my-0 times">Cherry Boiz</h1></marquee>
            </div>
            <div class="col-12 d-flex flex-row align-items-center">
                <div class="header-link px-2 py-1 mr-auto times"><a href="/" class="white">Cherry Boiz &trade;</a></div>
                <div class="header-link px-3 py-1 times"><a href="/vibes" class="white">Vibes</a></div>
                <div class="header-link px-3 py-1 times"><a href="/posts" class="white">Posts</a></div>
            </div>
        </div>
    </div>
</div>
