description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Cherry Boiz</title>
        <meta id="mdesc" name="description" content="Cherry Boiz | a place where you can relax and get educated">
        <meta name="author" content="CherryBoiz">
        <link rel="shortcut icon" href="/themes/cherry/assets/img/fav.png">
        <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
        <link rel="stylesheet" href="{{Mix('/assets/dist/css/combine.css')|theme}}" type="text/css" media="all">
        <link rel="stylesheet" href="{{Mix('/assets/dist/css/app.css')|theme}}" type="text/css" media="all">
    </head>
    <body class="bg-grey">
       
        {% partial "header" %}
        <!-- Content -->
        {% page %}
        <script src="{{Mix('/assets/dist/js/site-build.js')|theme}}"></script>
        <style>
        </style>
    </body>
</html>
