description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{'/assets/css/bootstrap.min.css'|theme}}" type="text/css" media="all">
        <link rel="stylesheet" href="{{Mix('/assets/dist/css/app.css')|theme}}" type="text/css" media="all">
    </head>
    <body>
       

        <!-- Content -->
        {% page %}
        <script src="{{Mix('/assets/dist/js/site-build.js')|theme}}"></script>
        <script src="{{'assets/js/bootstrap.min.js'|theme}}"></script>
        <style>
        </style>
    </body>
</html>